.mcdiv2 h2 {
    font-weight: 500;
    font-size: 30px !important;
    color: #fff;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.mcdiv2 p {
    font-weight: 100 !important;
    font-size: 18px;
    color: #fff;
    margin-top: 16px;
}

.mcdiv2 h5 {
    font-weight: 700;
    font-size: 16px;
    color: #D3E97A;
    text-underline-offset: 5px;
    margin-top: 53px !important;
    text-decoration: underline;
}

.maincenter2 {
    padding: 122px 108px 416px 108px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.notbigman {
    display: none;
}

.bigman {
    width: 1224px;
    height: 700px;
}

.mcdiv3 {
    display: grid;
    grid-column-start: 1;
    grid-column: span 2;
    padding: 120px 0 40px 0;
}

.mcsmall {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.mcsmall1 {
    width: 600px;
}

.bigbtn {
    display: flex;
}

.mbtn1 {
    font-family: Manrope;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #FFFFFF;
    border: 1px solid #484848;
    border-radius: 100px;
    padding: 16px 24px;
}

.mh1 h1 {
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 76px;
    line-height: 76px;
    letter-spacing: 0%;
    color: #fff;
}

.mcsmall p {
    font-family: Manrope;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    color: #C7C7C7;
}

.mcdiv44 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 1224px;
    padding: 40px 108px 80px 108px;
}

.mcdiv44 h1 {
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 76px;
    line-height: 76px;
    letter-spacing: 0%;
    color: #fff;
}

.mbtn {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.mm2btn {
    display: flex;
    gap: 16px;
}

.mmbtn {
    display: flex;
    gap: 16px;
    margin-top: 10px;
}

.mm3btn {
    display: flex;
    gap: 16px;
    margin-top: 10px;
}

.mbtn1 {
    width: 124px;
}

.mbtn2 {
    width: 114px;
}

.mbtn3 {
    width: 175px;
}

.mbtn4 {
    width: 141px;
}

.mbtn5 {
    width: 197px;
}

.mbtn6 {
    width: 129px;
}

.mbtn7 {
    width: 192px;
}

.wi {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a0a0a;
    border-radius: 100px;
    color: #fff;
    border: 1px solid #484848;
}

.mcdiv55 h1 {
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 76px;
    line-height: 76px;
    letter-spacing: 0%;
    color: #fff;
}

.mcdiv55 {
    padding: 80px 108px;
}

.mp1 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 24px !important;
    line-height: 31.2px;
    letter-spacing: -1%;
    width: 600px;

}

.mp1 span {
    font-family: Manrope;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    color: #C7C7C7;
    float: right;
}

.roos {
    color: #D3E97A !important;
    font-family: Manrope;
    font-weight: 600;
    font-size: 18px;
    line-height: 28.8px;
    letter-spacing: 0%;
}

@media (min-width: 375px) and (max-width: 768px) {
    .navdiv a {
        display: none;
    }

    .main-btn1{
        width: 212px !important;
        height: 48px;
    }

    navbar{
        display: flex;
    }

    .navdiv{
        display: none;
    }

    .navdiv2{
        display: inline-block !important;
    }

    .main-btn2{
        width: 48px;
        height: 48px;
    }
    .main-btn3{
        width: 48px;
        height: 48px;
    }

    .maincenterh12 {
        font-size: 57px;
        margin: 0;
    }

    .mcdiv2 h2 {
        font-size: 24px !important;
    }

    .mcdiv2 p {
        font-size: 16px;
    }

    .maincenter2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 !important;
        padding-top: 80px !important;
    }

    .bigman {
        display: none;
    }

    .mcdiv2 {
        grid-row-start: 2;
    }

    .bigman {
        display: none;
    }

    .notbigman {
        display: block;
    }

    .mcsmall1 h1 {
        font-size: 43px;
        float: left;
    }

    .mcsmall1{
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .mcdiv44 {
        padding: 80px 0 0 0 !important;
        width: min-content;
    }

    .mcsmall {
        grid-row-start: 2;
        width: min-content;
    }

    .wi {
        height: 46px;
    }

    .mbtn1 {width: 87px;}
    .mbtn2 {width: 78px;}
    .mbtn3 {width: 131px;}
    .mbtn4 {width: 102px;}
    .mbtn5 {width: 151px;}
    .mbtn6 {width: 91px;}
    .mbtn7 {width: 146px;}

    .mbtn{
        display: none;
    }

    .mbtn22{
        display: block !important;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    .mcsmall p{
        font-size: 16px;
    }

    .mp1{
        font-size: 18px;
        float: left;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .mp1 span{
        grid-row-start: 2;
        font-size: 16px;
    }
    .mp1p{
        font-size: 16px;
    }

    .mcdiv44rs{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .mcsmallrs{
        grid-row-start: 3 !important;
        grid-column-start: 1 !important;
        margin: 0 !important;
        width: 343px;
    }

    .mcsmallrs2{
        grid-row-start: 2 !important;
        margin: 0 !important;
    }
}

